<!-- <h1>Agregar gasto</h1>
<form
  nz-form
  [formGroup]="form"
  class="expenses-form"
  (ngSubmit)="submitForm()"
>
  <nz-form-item style="gap: 1rem">
    <nz-form-control
      nzErrorTip="Por favor ingrese el nombre del gasto"
    >
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="name"
          placeholder="Nombre del gasto"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="gap: 1rem">
    <nz-form-control
      nzErrorTip="Por favor ingrese el valor del gasto"
    >
      <nz-input-group>
        <input
          type="number"
          nz-input
          formControlName="value"
          placeholder="Valor del gasto"
        />
      </nz-input-group>
    </nz-form-control>
    <nz-form-control
      nzErrorTip="Por favor ingrese la fecha del gasto"
    >
      <nz-date-picker
        style="width: 100%"
        formControlName="manual_created_at"
        nzPlaceHolder="Fecha del gasto"
        nzFormat="YYYY-MM-dd HH:mm:ss"
        nzShowTime
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="gap: 1rem">
    <nz-form-control
      nzErrorTip="Por favor ingrese la descripción del gasto"
    >
      <nz-input-group>
        <textarea
          nz-input
          formControlName="note"
          rows="8"
          placeholder="Descripción del gasto"
        ></textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzShape="round"
    style="float: right"
  >
    Agregar
    <span nz-icon nzType="save"></span>
  </button>
</form> -->

<ion-content class="ion-padding" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="bills-box">
          <ion-card-header>
            <ion-card-title class="bills-box__title">
              Agregar gasto
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form
              [formGroup]="form"
              class="expenses-form"
              (ngSubmit)="submitForm()"
            >
              <div class="mx-1">
                <ion-input
                  label="Nombre del gasto"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Nombre del gasto"
                  formControlName="name"
                ></ion-input>
                <ion-text
                  color="danger"
                  *ngIf="
                    form.get('name')?.hasError('required') &&
                    form.get('name')?.touched
                  "
                >
                  Por favor, ingrese el nombre del gasto.
                </ion-text>
              </div>

              <div class="mb-1">
                <ion-input
                  label="Valor del gasto"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Valor del gasto"
                  formControlName="value"
                ></ion-input>
                <ion-text
                  color="danger"
                  *ngIf="
                    form.get('value')?.hasError('required') &&
                    form.get('value')?.touched
                  "
                >
                  Por favor, ingrese el valor del gasto.
                </ion-text>
              </div>

              <div class="mb-1">
                <ion-textarea
                  label="Descripción del gasto"
                  labelPlacement="floating"
                  fill="outline"
                  placeholder="Descripción del gasto"
                  formControlName="note"
                  rows="8"
                ></ion-textarea>
                <ion-text
                  color="danger"
                  *ngIf="
                    form.get('note')?.hasError('required') &&
                    form.get('note')?.touched
                  "
                >
                  Por favor, ingrese la descripción del gasto.
                </ion-text>
              </div>

              <ion-button
                type="submit"
                expand="block"
                mode="ios"
                color="secondary"
                [disabled]="!form.valid"
                >Guardar Gasto
                <ion-icon slot="end" name="save-outline"></ion-icon
              ></ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
