ion-split-pane {
  --side-width: 280px;
  --side-max-width: 280px;
}

.sidebar-box {
  &__logo-box {
    align-items: center;
    background-color: var(--ion-color-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 6rem;
    margin: 1rem auto;
    width: 6rem;
  }
  &__logo {
    max-width: 80%;
  }
}
