<nz-layout class="panel-container">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item *ngIf="!isAdmin" routerLink="/detalleUnidad">
        <span nz-icon nzType="home"></span>
        <span>Inicio</span>
      </li>
      <li nz-submenu [nzTitle]="data.title" [nzIcon]="data.icon" *ngFor="let data of buttonsRoutes">
        <ul *ngIf="data.actions">
          <li nz-menu-item *ngFor="let link of data.actions">
            <a [routerLink]="link.route">
              {{link.title}}
            </a>
          </li>
        </ul>
      </li>
      <li nz-menu-item (click)="logout();">
        <span nz-icon nzType="logout"></span>
        <span>Cerrar Sesión</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-row nzJustify="space-between">
        <nz-col>
            <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
        </nz-col>
        <nz-col>
          <h5 class="trigger">Hola, {{this.dataService.getUserData().full_name}}    </h5>
        </nz-col>
      </nz-row>
    </nz-header>
    <nz-content>
      <!--<nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>-->
      <br>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Pisicola ©2023</nz-footer>
  </nz-layout>
</nz-layout>
