<nz-layout class="panel-container">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a href="dashboard">
          <span nz-icon nzType="dashboard"></span>
          <span>Inicio</span>
        </a>
      </li>
      <li nz-submenu nzTitle="Usuarios" nzIcon="user">
        <ul>
          <li nz-menu-item>
            <a href="listaUsuarios">
              Lista de usuarios
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarUsuario">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Unidades productivas" nzIcon="user">
        <ul>
          <li nz-menu-item>
            <a href="listaUnidades">
              Lista de unidades
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarUnidad">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Estanques" nzIcon="folder">
        <ul>
          <li nz-menu-item>
            <a href="listaEstanques">
              Lista de estanques
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarEstanque">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Tipos de producto" nzIcon="unordered-list">
        <ul>
          <li nz-menu-item>
            <a href="listaTipoProducto">
              Lista de Tipos
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarTipoProducto">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Gastos" nzIcon="fall">
        <ul>
          <li nz-menu-item>
            <a href="listaGastos">
              Lista de gastos
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarGasto">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Ventas" nzIcon="rise">
        <ul>
          <li nz-menu-item>
            <a href="listaUsuarios">
              Lista de ventas
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarUsuario">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Productos" nzIcon="database">
        <ul>
          <li nz-menu-item>
            <a href="listaUsuarios">
              Lista de productos
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarUsuario">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Equipos" nzIcon="cluster">
        <ul>
          <li nz-menu-item>
            <a href="listaEquipos">
              Lista de equipo
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarEquipo">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Alimentos" nzIcon="rest">
        <ul>
          <li nz-menu-item>
            <a href="listaAlimento">
              Lista de alimentos
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarAlimento">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Medicamentos" nzIcon="heart">
        <ul>
          <li nz-menu-item>
            <a href="listaMedicamentos">
              Lista de medicamentos
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarMedicamento">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Insumos" nzIcon="rise">
        <ul>
          <li nz-menu-item>
            <a href="listaInsumos">
              Lista de insumos
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarInsumo">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Materiales" nzIcon="tool">
        <ul>
          <li nz-menu-item>
            <a href="listaUsuarios">
              Lista de materiales
            </a>
          </li>
          <li nz-menu-item>
            <a href="agregarUsuario">
              Agregar
            </a>
          </li>
        </ul>
      </li>
      <li nz-menu-item (click)="logout();">
        <span nz-icon nzType="logout"></span>
        <span>Cerrar Sesión</span>
      </li>
      <!--<li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>-->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-row nzJustify="space-between">
        <nz-col>
            <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
        </nz-col>
        <nz-col>
          <h5 class="trigger">Hola, {{this.dataService.getUserData().full_name}}    </h5>
        </nz-col>
      </nz-row>
    </nz-header>
    <nz-content>
      <!--<nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>-->
      <br>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Pisicola ©2023</nz-footer>
  </nz-layout>
</nz-layout>
