<nz-layout class="login-container">
  <nz-card class="login-card">
    <div class="logo-container">
      <img src="/assets/img/logo.png" alt="image" />
    </div>
    <span class="title-form">
      <h1>Bienvenido</h1>
      <small>Ingrese sus datos para continuar</small>
    </span>
    <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingrese su usuario">
          <nz-input-group nzPrefixIcon="user">
            <input type="email" nz-input formControlName="userName" placeholder="usuario" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingrese su contraseña">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot" href="/recuperar">¿Olvidó su contraseña?</a>
        </div>
      </div>
      <button nz-button nzType="primary" nzSize="large" nzShape="round">
        Continuar
        <span nz-icon nzType="right"></span>
      </button>
    </form>
  </nz-card>
</nz-layout>
