<h1>Modificar Tipo producto</h1>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item style="gap: 1rem;">
    <nz-form-control nzErrorTip="Por favor ingrese el nombre del tipo de producto">
      <nz-input-group>
        <input type="text" nz-input formControlName="nombre" placeholder="Nombre o identificación del tipo de producto" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="gap: 1rem;">
    <nz-form-control nzErrorTip="Por favor ingrese la descripción del tipo de producto">
      <nz-input-group>
        <textarea nz-input formControlName="descripcion" rows="8"
          placeholder="Descripción del tipo de producto"></textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzType="primary" nzSize="large" nzShape="round" style="float: right">
    Guardar Cambios
    <span nz-icon nzType="save"></span>
  </button>
</form>
