<!-- <nz-layout class="login-container">
  <nz-card class="login-card">
    <div class="logo-container">
      <img src="/assets/img/logo.png" alt="image" />
    </div>
    <span class="title-form">
      <h1>¿Olvidó su contraseña?</h1>
      <small>Escriba su correo electrónico para continuar</small>
    </span>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingrese su correo electrónico">
          <nz-input-group nzPrefixIcon="mail">
            <input type="email" nz-input formControlName="mail" placeholder="correo electrónico" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot" href="/">Iniciar sesión</a>
        </div>
      </div>
      <button nz-button nzType="primary" nzSize="large" nzShape="round">
        Recuperar contraseña
      </button>
    </form>
    <div *ngIf="showInfo">
      <nz-divider></nz-divider>
      <p>
        para recuperar su contraseña puede usar los siguientes medios
      </p>
      <div class="info-container">
        <span nz-icon nzType="phone" nzTheme="outline" class="icon-info-rc"></span>
        <label>
          llamar al administrador
          <span>3012233444</span>
        </label>
      </div>
      <div class="info-container">
        <span nz-icon nzType="inbox" nzTheme="outline" class="icon-info-rc"></span>
        <label>
          Enviar un email al administrador
          <span>nikollaihernandez@gmail.com</span>
        </label>
      </div>
    </div>
  </nz-card>
</nz-layout> -->

<!-- recuperar-clave.component.html -->
<ion-content color="primary">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="8" size-xl="6">
        <ion-card class="recover-password-box">
          <div class="recover-password-box__logo-box">
            <ion-img
              src="/assets/img/logo.png"
              class="recover-password-box__logo"
              alt="image"
            ></ion-img>
          </div>
          <ion-card-header class="ion-text-center">
            <ion-card-title color="primary" class="recover-password-box__title"
              >¿Olvidó su contraseña?</ion-card-title
            >
            <ion-card-subtitle
              color="dark"
              class="recover-password-box__subtitle"
              >Escriba su correo electrónico para continuar</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <form
              [formGroup]="validateForm"
              (ngSubmit)="submitForm()"
              class="ion-padding"
            >
              <div class="mx-1">
                <ion-input
                  label="Correo Electrónico"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Correo Electrónico"
                  type="email"
                  formControlName="mail"
                ></ion-input>
                <ion-text color="medium">
                  <p>Ejemplo: usuario@dominio.com</p>
                </ion-text>
                <ion-text
                  color="danger"
                  *ngIf="
                    validateForm.get('mail')?.hasError('required') &&
                    validateForm.get('mail')?.touched
                  "
                >
                  <p>Por favor ingrese su usuario</p>
                </ion-text>
                <ion-text
                  color="danger"
                  *ngIf="
                    validateForm.get('mail')?.hasError('pattern') &&
                    validateForm.get('mail')?.touched
                  "
                >
                  <p>El formato del usuario no es válido</p>
                </ion-text>
              </div>
              <ion-button
                type="button"
                class="recover-password-box__btn-link mb-1 ion-float-right"
                fill="clear"
                [routerLink]="['/']"
                >Iniciar Sesión</ion-button
              >
              <ion-button
                type="submit"
                expand="block"
                mode="ios"
                color="secondary"
                class="recover-password-box__button"
                [disabled]="!validateForm.valid"
                >Recuperar Contraseña
                <ion-icon slot="end" name="arrow-forward-outline"></ion-icon
              ></ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
