<h1>Agregar usuario</h1>
<form
  nz-form
  [formGroup]="form"
  class="login-form"
  (ngSubmit)="submitForm()"
>
  <nz-form-item style="gap: 1rem;">
    <nz-form-control nzErrorTip="Por favor ingrese el nombre del usuario">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="fullName"
          placeholder="Nombre del usuario"
        />
      </nz-input-group>
    </nz-form-control>
    <nz-form-control nzErrorTip="Por favor ingrese el email del usuario">
      <nz-input-group>
        <input
          type="email"
          nz-input
          formControlName="email"
          placeholder="Email del usuario"
        />
      </nz-input-group>
    </nz-form-control>
    <nz-form-control nzErrorTip="Por seleccione un rol de usuario">
      <nz-input-group>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Rol del usuario"
          formControlName="userTypeId"
        >
          <nz-option nzLabel="Administrador" nzValue=1></nz-option>
          <nz-option nzLabel="Productor" nzValue=2></nz-option>
          <nz-option nzLabel="Por defecto" nzValue=3></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="gap: 1rem;">
    <nz-form-control nzErrorTip="Por favor ingrese la contraseña del usuario">
      <nz-input-group>
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Contraseña del usuario"
        />
      </nz-input-group>
    </nz-form-control>
    <nz-form-control nzErrorTip="Por favor ingrese de nuevo la contraseña">
      <nz-input-group>
        <input
          type="password"
          nz-input
          formControlName="passwordConfirmation"
          placeholder="Confirmar la contraseña"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzType="primary" nzSize="large" nzShape="round" style="float: right;">
    Agregar
    <span nz-icon nzType="save"></span>
  </button>
</form>
