<h1>Listado de alimentos cosecha {{ sowing.fish_step?.fish?.name }} - {{ sowing.pond?.name }}</h1>
<nz-table #nzTable [nzData]="listOfData" [nzBordered]="true" nzTableLayout="fixed">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Fecha de suministro</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of nzTable.data">
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.supply.name }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ formatFullDate(data.apply_at) }}</td>
        <td class="actions-container">
          <a nz-button nzType="primary" nzSize="default" class="edit-action">
            <span nz-icon nzType="edit"></span>
          </a>
          <!--(nzOnConfirm)=""
            (nzOnCancel)=""-->
          <a nz-button nzType="primary" nzSize="default" class="delete-action" nz-popconfirm
            nzPopconfirmTitle="¿Seguro desea eliminar el estanque?" nzOkText="Si, eliminar" nzCancelText="Cancelar">
            <span nz-icon nzType="delete"></span>
          </a>

        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
