<h1>Modificar usuario</h1>
<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item style="gap: 1rem">
    <nz-form-control nzErrorTip="Por favor ingrese el nombre del usuario">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="fullName"
          placeholder="Nombre del usuario"
        />
      </nz-input-group>
    </nz-form-control>
    <nz-form-control nzErrorTip="Por favor ingrese el email del usuario">
      <nz-input-group>
        <input
          type="email"
          nz-input
          formControlName="email"
          placeholder="Email del usuario"
        />
      </nz-input-group>
    </nz-form-control>
    <nz-form-control nzErrorTip="Por seleccione un rol de usuario">
      <nz-input-group>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Rol del usuario"
          formControlName="userTypeId"
        >
          <nz-option
            *ngFor="let item of userTypes"
            [nzLabel]="item.key"
            [nzValue]="item.id"
          ></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzShape="round"
    style="float: right"
  >
    Guardar Cambios
    <span nz-icon nzType="save"></span>
  </button>
</form>
