<!-- <nz-card [nzTitle]="sowing.fish_step?.fish?.name" class="card-header-light">
  <nz-row nzJustify="space-between">
    <nz-col>Estanque</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col>{{ sowing.pond?.name }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between">
    <nz-col>Etapa</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col
      >{{ sowing.fish_step?.name }}</nz-col
    >
  </nz-row>
  <nz-row nzJustify="space-between">
    <nz-col>Fecha</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col>{{ sowing.created_at | date }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between" class="nz-mb-2">
    <nz-col>N° de peces</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col>{{ sowing.total_fish }}</nz-col>
  </nz-row>
  <nz-row nzJustify="end" class="actions-container" *ngIf="hasActions">
    <a
      nz-button
      nzType="primary"
      nzSize="default"
      class="show-action"
      (click)="gotTo(sowing)"
    >
      <span nz-icon nzType="eye"></span>
    </a>
    <a
      nz-button
      nzType="primary"
      nzSize="default"
      class="edit-action"
      (click)="goToEdit(sowing)"
    >
      <span nz-icon nzType="edit"></span>
    </a>
    <a
      nz-button
      nzType="primary"
      nzSize="default"
      class="delete-action"
      nz-popconfirm
      (nzOnConfirm)="handlerConfirmDelete(sowing.id)"
      nzPopconfirmTitle="¿Seguro desea eliminar la cosecha?"
      nzOkText="Si, eliminar"
      nzCancelText="Cancelar"
    >
      <span nz-icon nzType="delete"></span>
    </a>
    <a
      nz-button
      nzType="primary"
      nzSize="default"
      class="close-action"
      nz-popconfirm
      (nzOnConfirm)="handlerConfirmClose(sowing.id)"
      nzPopconfirmTitle="¿Seguro desea cerrar la cosecha?"
      nzOkText="Si, cerrar"
      nzCancelText="Cancelar"
    >
      <span nz-icon nzType="close-circle"></span>
    </a>
  </nz-row>
</nz-card> -->

<!-- sowing-card.component.html -->

<!-- sowing-card.component.html -->
<!-- <ion-item class="sowing-card">
  <ion-label>
    <ion-row>
      <ion-col>
        <ion-label>Estanque: {{ sowing.pond?.name }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Etapa: {{ sowing.fish_step?.name }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Fecha: {{ sowing.created_at | date }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>N° de peces: {{ sowing.total_fish }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-label>

  <ion-buttons slot="end" *ngIf="hasActions">
    <ion-button (click)="gotTo(sowing)" color="primary">
      <ion-icon name="eye"></ion-icon>
    </ion-button>

    <ion-button (click)="goToEdit(sowing)" color="primary">
      <ion-icon name="create"></ion-icon>
    </ion-button>

    <ion-button color="primary" (click)="handlerConfirmDelete(sowing.id)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>

    <ion-button color="primary" (click)="handlerConfirmClose(sowing.id)">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item> -->
