<!-- <h1>Modificar Cosecha</h1>
<form
  nz-form
  [formGroup]="form"
  class="product-type-form"
  (ngSubmit)="submitForm()"
>
  <nz-form-item style="gap: 1rem">
    <nz-form-control nzErrorTip="Por favor seleccione un estanque">
      <nz-input-group>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Estanque"
          formControlName="pond_id"
        >
          <nz-option
            *ngFor="let item of ponds"
            [nzLabel]="item.name"
            [nzValue]="item.id"
          ></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
    <nz-form-control nzErrorTip="Por favor seleccione producto">
      <nz-input-group>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Producto"
          formControlName="fish_step_id"
        >
          <nz-option
            *ngFor="let item of products"
            [nzLabel]="item.name"
            [nzValue]="item.id"
          ></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
    <nz-form-control nzErrorTip="Por favor ingrese el total de peces">
      <nz-input-group>
        <input
          type="number"
          nz-input
          formControlName="total_fish"
          placeholder="Total de peces"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzShape="round"
    style="float: right"
  >
    Guardar cambios
    <span nz-icon nzType="save"></span>
  </button>
</form> -->
<ion-content class="ion-padding" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="harvest-box">
          <ion-card-header>
            <ion-card-title class="harvest-box__title">
              Modificar Cosecha
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form
              [formGroup]="form"
              class="sowing-form"
              (ngSubmit)="submitForm()"
            >
              <!-- Estanque -->
              <div class="mx-1">
                <ion-select
                  label="Estanque"
                  label-placement="floating"
                  fill="outline"
                  formControlName="pond_id"
                  placeholder="Selecciona un estanque"
                >
                  <ion-select-option
                    *ngFor="let pond of ponds"
                    [value]="pond.id"
                  >
                    {{ pond.name }}
                  </ion-select-option>
                </ion-select>
                <ion-label
                  *ngIf="
                    form.get('pond_id')?.hasError('required') &&
                    form.get('pond_id')?.touched
                  "
                  color="danger"
                >
                  Por favor, selecciona un estanque.
                </ion-label>
              </div>

              <!-- Producto -->
              <div class="mb-1">
                <ion-select
                  label="Producto"
                  label-placement="floating"
                  fill="outline"
                  formControlName="fish_step_id"
                  placeholder="Selecciona un producto"
                >
                  <ion-select-option
                    *ngFor="let item of products"
                    [value]="item.id"
                  >
                    {{ item.name }}
                  </ion-select-option>
                </ion-select>
                <ion-label
                  *ngIf="
                    form.get('fish_step_id')?.hasError('required') &&
                    form.get('fish_step_id')?.touched
                  "
                  color="danger"
                >
                  Por favor, selecciona un producto.
                </ion-label>
              </div>

              <!-- Total de Peces -->
              <div class="mb-1">
                <ion-input
                  label="Total de Peces"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Ingresa el total de peces"
                  type="number"
                  formControlName="total_fish"
                ></ion-input>
                <ion-label
                  *ngIf="
                    form.get('total_fish')?.hasError('required') &&
                    form.get('total_fish')?.touched
                  "
                  color="danger"
                >
                  Por favor, ingresa el total de peces.
                </ion-label>
              </div>

              <!-- Botón Guardar Cosecha -->
              <ion-button
                type="submit"
                expand="block"
                mode="ios"
                color="secondary"
                [disabled]="!form.valid"
              >
                Modificar Cosecha
                <ion-icon slot="end" name="save-outline"></ion-icon>
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
