<!-- <h1>{{ sowing.fish_step?.fish?.name }}</h1>
<nz-card nzTitle="Información general" class="card-header-light">
  <nz-row nzJustify="space-between">
    <nz-col>Estanque</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col>{{ sowing.pond?.name }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between">
    <nz-col>Etapa</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col> {{ sowing.fish_step?.name }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between">
    <nz-col>Fecha</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col>{{ sowing.created_at | date }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between" class="nz-mb-2">
    <nz-col>N° de peces</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col>{{ sowing.total_fish }}</nz-col>
  </nz-row>
  <nz-row nzJustify="end">
    <a href="detallesCosecha">
      <button nz-button nzSize="small" nzType="primary">Alimento</button>
    </a>
    <a href="detallesCosecha">
      <button nz-button nzSize="small" nzType="primary">Medicamento</button>
    </a>
  </nz-row>
</nz-card>
<br />
<nz-card nzTitle="Historial Mediciónes" class="card-header-light">
  <nz-row [nzGutter]="16">
    <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="8" class="nz-mb-2">
      <nz-form-control nzErrorTip="Por favor ingrese el total de peces">
        <nz-date-picker
          style="height: 40px; width: 100%"
          [(ngModel)]="startDate"
          nzPlaceHolder="Fecha Inicial"
          (ngModelChange)="onChangeStartDate()"
        ></nz-date-picker>
      </nz-form-control>
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="8" class="nz-mb-2">
      <nz-form-control nzErrorTip="Selecciona una fecha">
        <nz-date-picker
          style="height: 40px; width: 100%"
          [(ngModel)]="endDate"
          nzPlaceHolder="Fecha Final"
          (ngModelChange)="onChangeEndDate()"
        ></nz-date-picker>
      </nz-form-control>
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="8" class="nz-mb-2">
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        nzShape="round"
        style="float: left"
        (click)="handleClickSearch()"
      >
        Buscar
        <span nz-icon nzType="search"></span>
      </button>
    </nz-col>
  </nz-row>
  <div *ngIf="showError" class="error-div">
    Valida los campos e intenta de nuevo
  </div>
  <nz-row [nzGutter]="16" *ngIf="hasData()">
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="24"
      nzLg="12"
      nzXl="8"
      class="nz-mb-2"
      *ngFor="let item of listOfData"
    >
      <app-history-chart [historyStats]="item"></app-history-chart>
    </nz-col>
  </nz-row>
  <nz-row [nzGutter]="16" *ngIf="!hasData()" class="not-data">
    <span nz-icon nzType="folder-open" nzTheme="outline" class="icon"></span>
    <span class="text">No hay datos disponibles en el rango</span>
  </nz-row>
</nz-card> -->

<ion-content color="light">
  <div class="harvest-history-page">
    <ion-text>
      <h1 class="harvest-history-page__heading-1">
        {{ sowing.fish_step?.fish?.name }}
      </h1>
    </ion-text>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Información general</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-text color="primary">Estanque:</ion-text>
                {{ sowing.pond?.name }}
              </p>
              <p>
                <ion-text color="primary">Etapa:</ion-text>
                {{ sowing.fish_step?.name }}
              </p>
              <p>
                <ion-text color="primary">Fecha:</ion-text>
                {{ sowing.created_at | date }}
              </p>
              <p>
                <ion-text color="primary">N° de peces:</ion-text>
                {{ sowing.total_fish }}
              </p>
            </ion-card-content>
            <div class="d-flex justify-content-end">
              <ion-button fill="clear">Alimento</ion-button>
              <ion-button fill="clear">Medicamento</ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="harvest-history-page__title"
                >Historial Mediciónes</ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <div class="mb-1">
                <ion-input
                  label="Fecha inicial"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Fecha inicial"
                  id="harvest-history-start-open-modal"
                  [(ngModel)]="startDate"
                ></ion-input>
              </div>
              <div class="mb-1">
                <ion-input
                  label="Fecha final"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Fecha final"
                  id="harvest-history-end-open-modal"
                  [(ngModel)]="endDate"
                ></ion-input>
              </div>
              <ion-button
                type="button"
                expand="block"
                mode="ios"
                color="secondary"
                (click)="handleClickSearch()"
                >Buscar <ion-icon slot="end" name="search-outline"></ion-icon
              ></ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ng-container *ngIf="hasData()">
      <ion-grid>
        <ion-row>
          <ng-container *ngFor="let item of listOfData">
            <ion-col size="12" size-lg="6" size-xl="4">
              <ion-card>
                <app-history-chart [historyStats]="item"></app-history-chart>
              </ion-card>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-container *ngIf="!hasData()">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div
              class="harvest-history-page__not-data d-flex flex-column align-items-center"
            >
              <ion-icon name="folder-open-outline"></ion-icon>
              <ion-text>
                <p class="m-0">No hay datos disponibles en el rango</p>
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>
  <!-- DateTime - Started -->
  <ion-modal trigger="harvest-history-start-open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Fecha y Hora</ion-title>
        </ion-toolbar>
        <ion-datetime
          locale="es-ES"
          size="cover"
          [showDefaultButtons]="true"
          doneText="Confirmar"
          cancelText="Cancelar"
          [(ngModel)]="datetimeStarted"
          (ionChange)="onChangeDateTimeStarted()"
        >
          <span slot="time-label">Hora</span>
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- DateTime - Finished -->
  <ion-modal trigger="harvest-history-end-open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Fecha y Hora</ion-title>
        </ion-toolbar>
        <ion-datetime
          locale="es-ES"
          size="cover"
          [showDefaultButtons]="true"
          doneText="Confirmar"
          cancelText="Cancelar"
          [(ngModel)]="datetimeFinished"
          (ionChange)="onChangeDateTimeFinished()"
        >
          <span slot="time-label">Hora</span>
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
