<h1>Mojarra Roja</h1>
<nz-row nzGutter="16">
    <nz-col nzXs="24" class="nz-mb-2">
        <nz-card nzTitle="Historial Mediciónes" class="card-header-light" >
            <nz-row nzJustify="center">
                <nz-col class="container-update nz-mb-2">
                    
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="16">
                <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" class="nz-mb-2">
                    <div class="container-chart">
                        <h2>Temperatura</h2>
                        <div class="chartdiv" id="chartdiv" style="width: 100%;"></div>
                    </div>
                </nz-col>
                <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" class="nz-mb-2">
                    <div class="container-chart">
                        <h2>Oxigeno</h2>
                        <div class="chartdiv" id="chartdiv1" style="width: 100%;"></div>
                    </div>
                </nz-col>
                <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" class="nz-mb-2">
                    <div class="container-chart">
                        <h2>Acidos</h2>
                        <div class="chartdiv" id="chartdiv2" style="width: 100%;"></div>
                    </div>
                </nz-col>
                <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" class="nz-mb-2">
                    <div class="container-chart">
                        <h2>Temperatura</h2>
                        <div class="chartdiv" id="chartdiv3" style="width: 100%;"></div>
                    </div>
                </nz-col>
                <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" class="nz-mb-2">
                    <div class="container-chart">
                        <h2>Oxigeno</h2>
                        <div class="chartdiv" id="chartdiv4" style="width: 100%;"></div>
                    </div>
                </nz-col>
                <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" class="nz-mb-2">
                    <div class="container-chart">
                        <h2>Acidos</h2>
                        <div class="chartdiv" id="chartdiv5" style="width: 100%;"></div>
                    </div>
                </nz-col>
            </nz-row>
        </nz-card>
    </nz-col>
</nz-row>
