@import '../../../../theme.less';

.chartdiv{
    height: 250px !important;
}

.container-chart {
    background: @background-light;
    border-radius: 10px;
    padding: 15px 0;
}

.container-chart {
    h2 {
        text-align: center;
    }
}

.container-update {
    text-align: center;
    p {
        margin-bottom: 0;
    }
}