<h1>Listado de usuarios</h1>
<nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th>Documento</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Rol</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of nzTable.data">
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.full_name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.user_type.key }}</td>
        <td class="actions-container">
          <a nz-button nzType="primary" nzSize="default" class="edit-action" href="/modificarUsuario">
            <span nz-icon nzType="edit"></span>
          </a>
          <!--(nzOnConfirm)=""
            (nzOnCancel)=""-->
          <a nz-button nzType="primary" nzSize="default" class="delete-action"
            nz-popconfirm
            nzPopconfirmTitle="¿Seguro desea eliminar el usuario?"
            nzOkText="Si, eliminar"
            nzCancelText="Cancelar"
          >
            <span nz-icon nzType="delete"></span>
          </a>

        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
