<!-- <h1>Cambiar clave de {{user.full_name}}</h1>
<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item style="gap: 1rem">
    <nz-form-control nzErrorTip="Por favor ingrese la contraseña del usuario">
      <nz-input-group>
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Contraseña del usuario"
        />
      </nz-input-group>
    </nz-form-control>
    <nz-form-control nzErrorTip="Por favor ingrese de nuevo la contraseña">
      <nz-input-group>
        <input
          type="password"
          nz-input
          formControlName="passwordConfirmation"
          placeholder="Confirmar la contraseña"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzShape="round"
    style="float: right"
  >
    Guardar Cambios
    <span nz-icon nzType="save"></span>
  </button>
</form> -->
<ion-content class="ion-padding" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="user-box">
          <ion-card-header>
            <ion-card-title class="user-box__title">
              Cambiar clave de {{user.full_name}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="mb-1">
                <ion-input
                  label="Contraseña del usuario"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Contraseña del usuario"
                  type="password"
                  formControlName="password"
                ></ion-input>
                <ion-text
                  color="danger"
                  *ngIf="
                    form.get('password')?.hasError('required') &&
                    form.get('password')?.touched
                  "
                >
                  <p>Por favor ingrese la contraseña del usuario</p>
                </ion-text>
              </div>

              <div class="mb-1">
                <ion-input
                  label="Confirmar contraseña"
                  label-placement="floating"
                  fill="outline"
                  placeholder="Confirmar contraseña"
                  type="password"
                  formControlName="passwordConfirmation"
                ></ion-input>
                <ion-text
                  color="danger"
                  *ngIf="
                    form.get('passwordConfirmation')?.hasError('required') &&
                    form.get('passwordConfirmation')?.touched
                  "
                >
                  <p>Por favor ingrese la nueva contraseña</p>
                </ion-text>
              </div>

              <ion-button
                type="submit"
                expand="block"
                mode="ios"
                color="secondary"
                [disabled]="!form.valid"
                >Cambiar clave
                <ion-icon slot="end" name="save-outline"></ion-icon
              ></ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
