<h1>Listado de registros</h1>
<nz-table
  #nzTable
  [nzData]="listOfData"
  [nzBordered]="true"
  nzTableLayout="fixed"
>
  <thead>
    <tr>
      <th>id</th>
      <th>Tarea</th>
      <th>Empleado</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Duración</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of nzTable.data">
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.task?.name }}</td>
        <td>{{ data.employee?.full_name }}</td>
        <td>{{ getDate(data.started_at) }}</td>
        <td>{{ getDate(data.finished_at) }}</td>
        <td>{{ data.duration| number:'1.0-0' }} Min.</td>
        <td class="actions-container">
          <a
            nz-button
            nzType="primary"
            nzSize="default"
            class="edit-action"
            (click)="goToEdit(data)"
          >
            <span nz-icon nzType="edit"></span>
          </a>
          <!--
            (nzOnCancel)=""-->
          <a
            nz-button
            nzType="primary"
            nzSize="default"
            class="delete-action"
            nz-popconfirm
            (nzOnConfirm)="handlerConfirmDelete(data.id)"
            nzPopconfirmTitle="¿Seguro desea eliminar el tipo de producto?"
            nzOkText="Si, eliminar"
            nzCancelText="Cancelar"
          >
            <span nz-icon nzType="delete"></span>
          </a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
