<h1>{{ sowing.fish_step?.fish?.name }}</h1>
<nz-card nzTitle="Información general" class="card-header-light">
  <nz-row nzJustify="space-between">
    <nz-col>Estanque</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col>{{ sowing.pond?.name }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between">
    <nz-col>Etapa</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col> {{ sowing.fish_step?.name }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between">
    <nz-col>Fecha</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col>{{ sowing.created_at | date }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between" class="nz-mb-2">
    <nz-col>N° de peces</nz-col>
    <nz-col class="ctm-separator"></nz-col>
    <nz-col>{{ sowing.total_fish }}</nz-col>
  </nz-row>
  <nz-row nzJustify="end">
    <a href="detallesCosecha">
      <button nz-button nzSize="small" nzType="primary">Alimento</button>
    </a>
    <a href="detallesCosecha">
      <button nz-button nzSize="small" nzType="primary">Medicamento</button>
    </a>
  </nz-row>
</nz-card>
<br />
<nz-card nzTitle="Mediciónes" class="card-header-light">
  <nz-row nzJustify="center">
    <nz-col class="container-update nz-mb-2">
      <p>Última actualización: 23/03/2023 12:45 pm</p>
      <label class="nz-mr-1">
        <a (click)="loadData()">Actualizar</a>
      </label>
      <label class="nz-ml-1">
        <a (click)="gotToHistory()">Ver Historico</a>
      </label>
    </nz-col>
  </nz-row>
  <nz-row [nzGutter]="16">
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="24"
      nzLg="12"
      nzXl="8"
      class="nz-mb-2"
      *ngFor="let item of listOfData"
    >
      <app-sensor-chart [sowingStat]="item"></app-sensor-chart>
    </nz-col>
  </nz-row>
</nz-card>
