<h1>{{ dataService.productiveUnit.name }}</h1>
<nz-divider></nz-divider>
<nz-card nzTitle="Información general" class="card-header-light">
  <nz-row>
    <nz-col style="color: #8d375a">Dirección de la unidad productiva:</nz-col>
    <nz-col style="margin-left: 10px">{{
      dataService.productiveUnit.address
    }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between">
    <nz-col>
      <p>
        <span style="color: #8d375a">Descripción de la unidad productiva:</span>
        {{ dataService.productiveUnit.description }}
      </p>
    </nz-col>
  </nz-row>
</nz-card>
<nz-divider></nz-divider>
<nz-card nzTitle="Cosechas" class="card-header-light">
  <nz-row nzJustify="space-between" nzGutter="16">
    <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8" class="nz-mb-2">
      <app-sowing-card
        *ngFor="let data of sowings"
        [sowing]="data"
        [hasActions]="hasActions"
      ></app-sowing-card>
    </nz-col>
  </nz-row>
</nz-card>
<nz-divider></nz-divider>
<nz-card nzTitle="Últimos gastos" class="card-header-light">
  <nz-row nzJustify="space-between">
    lista de gastos
  </nz-row>
</nz-card>
