<h1>{{productiveUnit.name}}</h1>
<div class="action-bar">
    <button nz-button nzType="default">Asignar usuarios</button>
    <button nz-button nzType="default" disabled>Lista de cosechas</button>
    <button nz-button nzType="default">Lista de estanques</button>
    <button nz-button nzType="default">Lista de productos</button>

</div>
<nz-divider></nz-divider>
<h4>Dirección de la unidad productiva</h4>
<p>{{productiveUnit.address}}</p>
<h4>Descripción de la unidad productiva</h4>
<p>{{productiveUnit.description}}</p>
<div class="space-flag">
    Estadisticas
</div>