<h1>{{ productiveUnit.name }}</h1>
<button nz-button nzType="default">Asignar usuarios</button>
<button nz-button nz-dropdown [nzDropdownMenu]="cosechas">
  Cosechas
  <span nz-icon nzType="down"></span>
</button>
<nz-dropdown-menu #cosechas="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <a (click)="goTo('/listaCosechas')">Lista</a>
    </li>
    <li nz-menu-item>
      <a (click)="goTo('/agregarCosecha')">Agregar</a>
    </li>
  </ul>
</nz-dropdown-menu>
<button nz-button nz-dropdown [nzDropdownMenu]="estanques">
  Estanques
  <span nz-icon nzType="down"></span>
</button>
<nz-dropdown-menu #estanques="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <a (click)="goTo('/listaEstanques')">Lista</a>
    </li>
    <li nz-menu-item>
      <a (click)="goTo('/agregarEstanque')">Agregar</a>
    </li>
  </ul>
</nz-dropdown-menu>
<button nz-button nz-dropdown [nzDropdownMenu]="productos">
  Productos
  <span nz-icon nzType="down"></span>
</button>
<nz-dropdown-menu #productos="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <a (click)="goTo('/listaProductos')">Lista</a>
    </li>
    <li nz-menu-item>
      <a (click)="goTo('/agregarProduct')">Agregar</a>
    </li>
  </ul>
</nz-dropdown-menu>
<button nz-button nzType="default" (click)="goTo('/agregarParametro')">Agregar Parametro</button>
<button nz-button nz-dropdown [nzDropdownMenu]="empleados">
  Empleados
  <span nz-icon nzType="down"></span>
</button>
<nz-dropdown-menu #empleados="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <a (click)="goTo('/listaEmpleados')">Lista</a>
    </li>
    <li nz-menu-item>
      <a (click)="goTo('/agregarEmpleado')">Agregar</a>
    </li>
  </ul>
</nz-dropdown-menu>
<nz-divider></nz-divider>
<nz-card nzTitle="Información general" class="card-header-light">
  <nz-row>
    <nz-col style="color: #8d375a;">Dirección de la unidad productiva:</nz-col>
    <nz-col style="margin-left: 10px;">{{ productiveUnit.address }}</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between">
    <nz-col style="color: #8d375a;">Descripción de la unidad productiva:</nz-col>
  </nz-row>
  <nz-row nzJustify="space-between">
    <nz-col><p>{{ productiveUnit.description }}</p></nz-col>
  </nz-row>
</nz-card>
<!-- 
<div class="space-flag">Estadisticas</div> -->
