
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #8d375a;
@secondary-color: #ffcb79;
@text-primary-color: #31322d;
@background-light:#f9f9f9;
@error-color: #ff3b6a;
@font-face {
    font-family: RobotoBold;
    src: url(assets/fonts/roboto/RobotoCondensed-Bold.ttf) format("opentype");
}
@font-face {
    font-family: RobotoRegular;
    src: url(assets/fonts/roboto/RobotoCondensed-Regular.ttf) format("opentype");
}
@font-face {
    font-family: PassionOneBold;
    src: url(assets/fonts/passionOne/PassionOne-Bold.ttf) format("opentype");
}
@font-face {
    font-family: PassionOneRegular;
    src: url(assets/fonts/passionOne/PassionOne-Regular.ttf) format("opentype");
}
*{
    font-family: RobotoRegular;
}