<h1>Agregar Tarea</h1>
<form
  nz-form
  [formGroup]="form"
  class="task-form"
  (ngSubmit)="submitForm()"
>
  <nz-form-item style="gap: 1rem;">
    <nz-form-control nzErrorTip="Por favor ingrese el nombre de la tarea">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="name"
          placeholder="Nombre de la tarea"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="gap: 1rem;">
    <nz-form-control nzErrorTip="Por favor ingrese la descripción de la tarea">
      <nz-input-group>
        <textarea 
          nz-input 
          formControlName="description"
          rows="8"
          placeholder="Descripción de la tarea"></textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzType="primary" nzSize="large" nzShape="round" style="float: right;">
    Agregar
    <span nz-icon nzType="save"></span>
  </button>
</form>
