<h1>Productos</h1>
<nz-row nzGutter="16">
    <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8" class="nz-mb-2">
        <nz-card nzTitle="Mojarra Roja" class="card-header-light" >
            <nz-row nzJustify="space-between">
                <nz-col>Estanque</nz-col>
                <nz-col class="ctm-separator"></nz-col>
                <nz-col>Estanque 1</nz-col>
            </nz-row>
            <nz-row nzJustify="space-between">
                <nz-col>Etapa</nz-col>
                <nz-col class="ctm-separator"></nz-col>
                <nz-col>Alevinaje</nz-col>
            </nz-row>
            <nz-row nzJustify="space-between">
                <nz-col>Fecha</nz-col>
                <nz-col class="ctm-separator"></nz-col>
                <nz-col>23/03/2023</nz-col>
            </nz-row>
            <nz-row nzJustify="space-between" class="nz-mb-2">
                <nz-col>N° de peces</nz-col>
                <nz-col class="ctm-separator"></nz-col>
                <nz-col>1000</nz-col>
            </nz-row>
            <nz-row nzJustify="end">
                <a href="detallesCosecha">
                    <button nz-button nzSize="small" nzType="primary">Admnistrar</button>
                </a>
            </nz-row>
        </nz-card>
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8" class="nz-mb-2">
        <nz-card nzTitle="Mojarra Roja" class="card-header-light">
            <nz-row nzJustify="space-between">
                <nz-col>Estanque</nz-col>
                <nz-col class="ctm-separator"></nz-col>
                <nz-col>Estanque 1</nz-col>
            </nz-row>
            <nz-row nzJustify="space-between">
                <nz-col>Etapa</nz-col>
                <nz-col class="ctm-separator"></nz-col>
                <nz-col>Alevinaje</nz-col>
            </nz-row>
            <nz-row nzJustify="space-between">
                <nz-col>Fecha</nz-col>
                <nz-col class="ctm-separator"></nz-col>
                <nz-col>23/03/2023</nz-col>
            </nz-row>
            <nz-row nzJustify="space-between" class="nz-mb-2">
                <nz-col>N° de peces</nz-col>
                <nz-col class="ctm-separator"></nz-col>
                <nz-col>1000</nz-col>
            </nz-row>
            <nz-row nzJustify="end">
                <a href="detallesCosecha">
                    <button nz-button nzSize="small" nzType="primary">Admnistrar</button>
                </a>
            </nz-row>
        </nz-card>
    </nz-col>
</nz-row>